.background {
    width: 480px;
    height: 800px;
    border: solid;

    position: absolute;
}

.top{
    width: 480px;
    height: 500px;
    background: #ffbed5;
}

.top #msg{
    width: 250px;
    height: 250px;
    border: solid;

    display: flex;
    /*내용*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom{
    width: 480px;
    height: 300px;
}

#circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid;

    position: absolute;
    left: 43%;
    top: 58%;

}
