body{ max-width: 720px; height: 100%; margin: 0 auto;}

header{
    max-width: 720px;
    background-color: white;
    border-bottom: 1px solid lightgray;

    position: fixed;
    display: flex;
    justify-content: space-between;
}

header .header_icon{width: 5%; margin: 4% 3% 4% 3%;}
header #logo{ width: 25%; margin: auto 0; }

#main{ padding-top: 14%; padding-bottom: 6%;}

#storys{ display: flex; justify-content: space-between; border-bottom: 1px solid lightgray; }
#storys .story{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story_img{ border-radius: 50%; width: 40%; }
.main_post{height: 15%;border-bottom: 1px solid lightgray;}

.main_post #top_infos{
    display: flex;
    justify-content: space-between;
}
#top_infos .info{
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center; /*more.png만 적용*/
    align-items: center;
}

#info_profile{
    padding-top: 3%;
    border-radius: 50%;
    width: 50%;
}

/*게시물*/
#post{
    display: flex;
    width: 100%;
}

#middle_buttons{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

#like{ padding-left: 3%; }
#comment_wrapper{margin :1%}
#comment_hour{margin-left: 1%;}

footer{
    max-width: 720px;
    width: 100%; /* 그림들의 크기가 작아 header와는 다르게 100% 적용 */
    background-color: white;
    border-bottom: 1px solid lightgray;

    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0; /* fixed를 사용했기 때문에 bottom 0 을 하지 않으면 보이지 않음 */
}

footer img{
    width: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

